{%  extends 'productos/main.html' %}
{% load static %}
{% block content %}

<br>
<div class="row">
	<div class="col-md-8">
		<div class="card card-body">
            <p> ¿ Estas seguro que deseas eliminar el producto {{item}}? </p>
            <form action="{% url 'delete_order' item.id_interno %}" method="POST">
                {% csrf_token %}
                <a class="btn btn-primary" href="{% url 'productos' %}">Cancel</a>
            
                <input class="btn btn-danger" type="submit" name="Confirmar" value="Aceptar">
            </form>
		</div>
	</div>
</div>

{% endblock %}